<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:fullBackupOnly="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.Tournant">
		<activity
			android:name=".ui.AboutActivity"
			android:exported="false"/>
		<activity
			android:name=".ui.SettingsActivity"
			android:exported="false"/>
		<activity
			android:name=".ui.RecipeActivity"
			android:exported="false"
			android:theme="@style/Theme.Tournant.KitchenBackground"/>
		<activity
			android:name=".ui.MainActivity"
			android:exported="true"
			android:theme="@style/Theme.Tournant.KitchenBackground">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter
				android:label="@string/app_name"
				android:priority="50">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="content" />
				<data android:scheme="file" />
				<data android:scheme="data" />
				<data android:host="*" />
				<data android:mimeType="*/*" />
				<data android:pathPattern=".*\\.grmt" />
				<data android:pathPattern=".*\\..*\\.grmt" />
				<data android:pathPattern=".*\\..*\\..*\\.grmt" />
				<data android:pathPattern=".*\\..*\\..*\\..*\\.grmt" />
				<data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.grmt" />
				<data android:pathPattern=".*\\.xml" />
				<data android:pathPattern=".*\\..*\\.xml" />
				<data android:pathPattern=".*\\..*\\..*\\.xml" />
				<data android:pathPattern=".*\\..*\\..*\\..*\\.xml" />
				<data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xml" />
			</intent-filter>
			<intent-filter
				android:label="@string/app_name"
				android:priority="50">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="content" />
				<data android:scheme="file" />
				<data android:scheme="data" />
				<data android:mimeType="text/xml" />
				<data android:mimeType="application/xml" />
			</intent-filter>
		</activity>
	</application>

</manifest>